.cards__item {
    width: 200px;
    height: 100px;
    display: flex;
    position: relative;
    border-radius: 20px;
    flex-direction: column;
    background-color: #B8B8B8;
    color: #2A2C2F;
 }