.page{
    min-width: 320px;
    max-width: 1280px;
    padding-top: 30px;
    padding-bottom: 60px;
    align-self: center;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #B8B8B8;
}