.me__copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B8B8B8;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}