.cards__trash{
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 7px;
    right: 10px;
    padding: 0;
    border: none;
    transition: 0.3s ease-in-out;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
   background-color: transparent;
   background-size: contain;
}

.cards__trash:hover{
    opacity: .5;
    cursor: pointer;
}