.header__add {
    box-sizing: border-box;
    max-width: 176px;
    height: 50px;
    align-self: center;
    width: 100%;
    border: 1px solid #B8B8B8;
    border-radius: 20px;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #2A2C2F;
    background-image: url("../../../images/Pluscol.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity .3s ease-in;
 }

.header__add:hover {
    opacity: .5;
    cursor: pointer;
 }
 

 
 @media screen and (max-width: 767px) {
    .header__add {
        margin: 0 auto;
        max-width: 450px;
    }
 }

