.header__search-text{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 767px){
    .header__search-text{
        font-size: 18px;
    }
}