.header__input{
    border: none;
    padding: 0;
    margin: 0 10px 0 15px;
    max-height: 50px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: #B8B8B8;
}